.calendar {
  margin: auto;
}

.calendar {
  color: #cccccc;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.calendar th {
  font-weight: normal;
  padding-bottom: 10px;
}

.calendar tbody td {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #cccccc;
    width: 120px;
    height: 30px;
    padding: 0;
}

.calendar tr:first-child td {
    border-width: 1px 1px 1px 0px;
}

.calendar tr:not(:first-child) td:first-child {
    border-width: 0px 1px 1px 1px;
}

.calendar tr:first-child td:first-child {
    border-width: 1px 1px 1px 1px;
}

.calendar tr:first-child td:last-child {
    border-width: 1px 1px 1px 0px;
}

.calendar tr:last-child td {
    border-width: 0px 1px 1px 0px;
}

.calendar tr:last-child td:first-child {
    border-width: 0px 1px 1px 1px;
}


.calendar {
    border-spacing: 0;
}

.calendar tbody td.timeslot {
  text-align: right;
  padding: 0 1em 0 0;
  border: 0;
  border-right: 1px solid #cccccc;
  font-family: Arial;
  color: #cccccc;
}
